.bar-step {
    position:relative;
    margin-top:-5px;
	z-index:1;
    font-size:12px;
}

.label-line {
    background: #000;
    height:7px;
	width:1px;
}

.label-line:before {
    content: attr(data-ref);
    position: absolute;
    left: -25px;
    top: -250%;
    color: rgb(7, 105, 252);
    text-align: center;
}